In [1]:
import pandas as pd

images = pd.read_csv('C:/Users/s_csmscox/jupyterSave/kFashion/kaggle_fashion/images.csv')
styles = pd.read_csv('C:/Users/s_csmscox/jupyterSave/kFashion/kaggle_fashion/styles.csv')

In [3]:
data = styles.loc[(styles['subCategory'] == 'Topwear') |
                  (styles['subCategory'] == 'Bottomwear') |
                  (styles['subCategory'] == 'Shoes') |
                  (styles['subCategory'] == 'Bags') |
                  (styles['subCategory'] == 'Watches') |
                  (styles['subCategory'] == 'Innerwear') |
                  (styles['subCategory'] == 'Sandal') |
                  (styles['subCategory'] == 'Flip Flops') |
                  (styles['subCategory'] == 'Jewellery') |
                  (styles['subCategory'] == 'Belts') |
                  (styles['subCategory'] == 'Eyewear') |
                  (styles['subCategory'] == 'Wallets') |
                  (styles['subCategory'] == 'Socks') |
                  (styles['subCategory'] == 'Dress'),['id', 'subCategory']]
data

          id subCategory
0      15970     Topwear
1      39386  Bottomwear
2      59263     Watches
3      21379  Bottomwear
4      53759     Topwear
...      ...         ...
44440  42234     Topwear
44441  17036       Shoes
44442   6461  Flip Flops
44443  18842     Topwear
44445  51623     Watches

[39799 rows x 2 columns]

In [4]:
data['subCategory'].loc[data['subCategory'] == 'Topwear'] = 0
data['subCategory'].loc[data['subCategory'] == 'Shoes'] = 1
data['subCategory'].loc[data['subCategory'] == 'Sandal'] = 1
data['subCategory'].loc[data['subCategory'] == 'Flip Flops'] = 1
data['subCategory'].loc[data['subCategory'] == 'Bags'] = 2
data['subCategory'].loc[data['subCategory'] == 'Bottomwear'] = 3
data['subCategory'].loc[data['subCategory'] == 'Watches'] = 4
data['subCategory'].loc[data['subCategory'] == 'Jewellery'] = 4
data['subCategory'].loc[data['subCategory'] == 'Belts'] = 4
data['subCategory'].loc[data['subCategory'] == 'Innerwear'] = 5
data['subCategory'].loc[data['subCategory'] == 'Eyewear'] = 6
data['subCategory'].loc[data['subCategory'] == 'Wallets'] = 7
data['subCategory'].loc[data['subCategory'] == 'Socks'] = 8
data['subCategory'].loc[data['subCategory'] == 'Dress'] = 9

C:\Users\s_csmscox\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [5]:
import shutil
from sklearn.model_selection import train_test_split

for i in range(0,10):
    sub = data.loc[data['subCategory']==i, :]

    train, test = train_test_split(sub, test_size=0.2, random_state=42)
    train, valid = train_test_split(train, test_size=0.2, random_state=42)

    dst = 'C:/Users/s_csmscox/jupyterSave/kFashion/kaggle_fashion/train/'

    for file_name, category_id in zip(train['id'],train['subCategory']):
        src = 'C:/Users/s_csmscox/jupyterSave/kFashion/kaggle_fashion/images/'+str(file_name)+'.jpg'
        try:
            shutil.copy(src, (dst + str(category_id ) + '/'))
        except:
            pass

    dst = 'C:/Users/s_csmscox/jupyterSave/kFashion/kaggle_fashion/test/'

    for file_name, category_id in zip(test['id'],test['subCategory']):
        src = 'C:/Users/s_csmscox/jupyterSave/kFashion/kaggle_fashion/images/'+str(file_name)+'.jpg'
        try:
            shutil.copy(src, (dst + str(category_id ) + '/'))
        except:
            pass

    dst = 'C:/Users/s_csmscox/jupyterSave/kFashion/kaggle_fashion/valid/'

    for file_name, category_id in zip(valid['id'],valid['subCategory']):
        src = 'C:/Users/s_csmscox/jupyterSave/kFashion/kaggle_fashion/images/'+str(file_name)+'.jpg'
        try:
            shutil.copy(src, (dst + str(category_id ) + '/'))
        except:
            pass

In [3]:
import numpy as np

sub = styles['subCategory']
uni = sub.unique()

In [4]:
cnt = []
product = []

for i in uni:
    cnt.append(0)
    product.append(i)

a = -1

for i in uni:
    a += 1
    for j in sub:
        if i == j:
            cnt[a] += 1

In [5]:
df1 = pd.DataFrame(product, columns=['product'])
df2 = pd.DataFrame(cnt, columns=['cnt'])

df = pd.concat([df1, df2], axis=1)
df.sort_values(by=['cnt'], axis=0, inplace=True,  ascending=False)
df

                     product    cnt
0                    Topwear  15405
4                      Shoes   7344
7                       Bags   3055
1                 Bottomwear   2694
2                    Watches   2542
8                  Innerwear   1808
12                 Jewellery   1080
15                   Eyewear   1073
11                 Fragrance   1012
9                     Sandal    963
20                   Wallets    933
6                 Flip Flops    915
5                      Belts    811
3                      Socks    698
13                      Lips    527
18                     Dress    478
19  Loungewear and Nightwear    470
14                     Saree    427
16                     Nails    329
25                    Makeup    307
22                  Headwear    293
27                      Ties    258
28               Accessories    143
17                   Scarves    118
36                 Cufflinks    108
21               Apparel Set    106
26                Free Gifts    104
38                    Stoles     90
24                 Skin Care     77
29                      Skin     69
32                      Eyes     43
23                  Mufflers     38
10          Shoe Accessories     24
37          Sports Equipment     21
34                    Gloves     20
39                      Hair     19
33             Bath and Body     12
31              Water Bottle      7
40                  Perfumes      6
42                 Umbrellas      6
30        Beauty Accessories      4
43                Wristbands      4
35        Sports Accessories      3
41           Home Furnishing      1
44                  Vouchers      1

In [4]:
top = styles.loc[(styles['subCategory'] == 'Topwear') ,['id', 'subCategory', 'articleType']]

uni = top['articleType'].unique()

cnt = []
product = []

for i in uni:
    cnt.append(0)
    product.append(i)

a = -1

for i in uni:
    a += 1
    for j in top['articleType']:
        if i == j:
            cnt[a] += 1
            
df1 = pd.DataFrame(product, columns=['product'])
df2 = pd.DataFrame(cnt, columns=['cnt'])

df = pd.concat([df1, df2], axis=1)
df.sort_values(by=['cnt'], axis=0, inplace=True,  ascending=False)
df

          product   cnt
1         Tshirts  7069
0          Shirts  3217
4          Kurtas  1844
2            Tops  1762
3     Sweatshirts   285
12       Sweaters   277
11        Jackets   258
13         Kurtis   234
10         Tunics   229
9         Dupatta   116
14     Suspenders    40
6     Rain Jacket    18
5       Waistcoat    15
16        Rompers    12
7         Blazers     8
8           Shrug     6
15  Nehru Jackets     5
18  Lehenga Choli     4
19          Belts     3
17        Dresses     2
20          Suits     1